@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Plus+Jakarta+Sans&family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background: #1a1818;
  color: #ece7e1;
}

::selection {
  background: #1a1818;
  color: #ece7e1;
}

body {
  position: relative;
  background: #ece7e1;
  pointer-events: auto;
}

.container-fluid {
  width: 100%;
  padding: 0 15px;
}

.container {
  max-width: 1440px !important;
  margin-left: auto;
  margin-right: auto;
}

.bg-color {
  background: #ece7e1;
}

.secondary-color {
  background: #1a1818;
}

.text-bg {
  color: #ece7e1;
}

.text-secondary {
  color: #1a1818;
}

.mabry-font {
  font-family: "Mabry Pro", "Plus Jakarta Sans", sans-serif;
}

.grandslang-font {
  font-family: "GrandSlang-Roman", "Mabry Pro", sans-serif;
}

.montserrat-font {
  font-family: "Montserrat", "Julius Sans", sans-serif;
}

.button {
  height: 45px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #1a1818;
  overflow: hidden;
  border-radius: 30px;
  color: #1a1818;
  transition: all 0.8s ease-in-out;
}
.button .btn-txt {
  z-index: 1;
  letter-spacing: 4px;
}
.button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s ease-in-out;
  background-color: #1a1818;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}
.button:hover {
  box-shadow: 2px 2px 150px #1a1818;
  color: #ece7e1;
  border: none;
}
.button:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.header {
  position: sticky;
  top: 0;
  transition: top 0.5s;
  z-index: 1;
}
.header .logo {
  z-index: 9;
  color: #ece7e1;
  font-family: "Mabry Pro", "Plus Jakarta Sans", sans-serif;
}
.header .hamburger {
  cursor: pointer;
  padding: 12px;
  z-index: 9;
  background: #ece7e1;
  border-radius: 99px;
}
.header .hamburger:hover .line:first-child {
  margin-bottom: 6px;
}
.header .hamburger .line {
  width: 20px;
  height: 0.02rem;
  background: #1a1818;
  display: block;
  transition: transform 0.5s ease;
}
.header .hamburger .line:first-child {
  margin-bottom: 6px;
}
.header .hamburger .line:first-child.active {
  transform: translateY(3px) scale(1) rotate(-45deg);
}
.header .hamburger .line.active {
  transform: translateY(-3px) scale(1) rotate(45deg);
}
.header .nav-links {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  margin-top: -180px;
  transition: height 1s ease-out;
}
.header .nav-links.active {
  height: 100vh;
  margin-top: 0;
}
.header .nav-links .nav-link {
  opacity: 0;
  transition: opacity 0.2s;
}
.header .nav-links.active .nav-link {
  opacity: 1;
}

.hero-content .social-links svg {
  width: 45px;
  height: 45px;
  fill: #1a1818;
  transition: all 0.8s ease;
}
.hero-content .social-links svg:hover {
  fill: #ece7e1;
  background: #1a1818;
  padding: 5px;
  border-radius: 99px;
}

.animate-float-y {
  animation-name: float-y;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: all 1s ease !important;
}

@keyframes float-y {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.projects .project-box {
  position: relative;
  border: 1px solid #1a1818;
  border-radius: 4px;
  transition: box-shadow 0.5s ease;
  cursor: pointer;
}
.projects .project-box .project-img {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px 4px 0 0;
  transition: filter 0.5s ease;
}
.projects .project-box .view-box {
  background: rgba(26, 24, 24, 0.7882352941);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  transition: height 0.8s ease;
  border-radius: 4px;
}
.projects .project-box .view-box .view-link {
  width: 180px;
  padding: 12px 24px;
  background: transparent;
  color: #ece7e1;
  border: 1px solid #ece7e1;
  text-align: center;
  display: none;
  transition: display 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 99px;
}
.projects .project-box .view-box .view-link:hover {
  background: #ece7e1;
  color: #1a1818;
}
.projects .project-box:hover .view-box {
  height: 100%;
}
.projects .project-box:hover .view-link {
  display: block;
}
.projects .project-box:hover .project-img, .projects .project-box:hover h4, .projects .project-box:hover p {
  filter: blur(4px);
}

.skills {
  overflow: hidden;
}
.skills .skills-items {
  height: 100%;
}
.skills .skills-items h4 {
  text-wrap: nowrap;
  color: #ece7e1;
}
.skills .skills-items .text-stroke {
  color: transparent;
  -webkit-text-stroke: 2px #ece7e1;
}

.contact .form input, .contact .form textarea {
  padding: 15px;
  background: transparent;
  border: 1px solid #1a1818;
  border-radius: 4px;
  color: #1a1818;
  font-size: 15px;
  transition: box-shadow 0.8s ease;
}
.contact .form input:focus, .contact .form textarea:focus {
  outline: none;
  box-shadow: 0.25rem 0.25rem 0rem #1a1818;
}
.contact .form input::-moz-placeholder, .contact .form textarea::-moz-placeholder {
  font-size: 15px;
  font-family: "Mabry Pro", "Plus Jakarta Sans", sans-serif;
}
.contact .form input::placeholder, .contact .form textarea::placeholder {
  font-size: 15px;
  font-family: "Mabry Pro", "Plus Jakarta Sans", sans-serif;
}
.contact .form .btn {
  cursor: pointer;
  transition: all 0.8s ease;
}
.contact .form .btn:hover {
  box-shadow: 0.25rem 0.25rem 0rem #1a1818;
}

.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid #1a1818;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease;
}

.cursor-dot {
  width: 10px;
  height: 10px;
  background: #1a1818;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.2s ease;
}

@media screen and (max-width: 576px) {
  .projects .project-box .project-img {
    height: 290px;
  }
}
@media screen and (max-width: 425px) {
  .projects .project-box .project-img {
    height: 175px;
  }
}/*# sourceMappingURL=style.css.map */