@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Plus+Jakarta+Sans&family=Montserrat:wght@400;500;600;700;800&display=swap');

$primaryColor: #FFA901;
$bgColor : #ece7e1;
$secondaryColor : #1a1818;
$juliusFont: 'Julius Sans', sans-serif;
$mabryFont: 'Mabry Pro', 'Plus Jakarta Sans', sans-serif;
$grandSlangFont : 'GrandSlang-Roman', 'Mabry Pro', sans-serif;
$montserratFont : 'Montserrat', 'Julius Sans', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::selection {
    background: $secondaryColor;
    color: $bgColor;
}
body {
    position: relative;
    background: $bgColor;
}
.container-fluid {
    width: 100%;
    padding: 0 15px;
}
.container {
    max-width: 1440px !important;
    margin-left: auto;
    margin-right: auto;
}
.bg-color {
    background: $bgColor;
}
.secondary-color {
    background: $secondaryColor;
}
.text-bg {
    color: $bgColor;
}
.text-secondary {
    color: $secondaryColor;
}
.mabry-font {
    font-family: $mabryFont;
}
.grandslang-font {
    font-family: $grandSlangFont;
}
.montserrat-font {
    font-family: $montserratFont;
}
.button {
    height: 45px;
    width: 200px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid $secondaryColor;
    overflow: hidden;
    border-radius: 30px;
    color: $secondaryColor;
    transition: all .8s ease-in-out;
    .btn-txt {
        z-index: 1;
        letter-spacing: 4px;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        transition: all 1s ease-in-out;
        background-color: $secondaryColor;
        border-radius: 30px;
        visibility: hidden;
        height: 10px;
        width: 10px;
        z-index: -1;
      }
      &:hover {
        box-shadow: 2px 2px 150px $secondaryColor;
        color: $bgColor;
        border: none;
      }
      &:hover::after {
        visibility: visible;
        transform: scale(100) translateX(2px);
      }
  }
.header {
    position: sticky;
    top: 0;
    transition: top 0.5s;
    z-index: 1;
    .logo {
        z-index: 9;
        color: $bgColor;
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;
        font-family: $mabryFont;
    }
    .hamburger {
        cursor: pointer;
        padding: 12px;
        z-index: 9;
        background: $bgColor;
        border-radius: 99px;
        &:hover .line:first-child {
            margin-bottom: 6px;
        }
        .line {
            width: 20px;
            height: 0.02rem;
            background: $secondaryColor;
            display: block;
            transition: transform .5s ease;
            &:first-child {
                margin-bottom: 6px;
            }
            &:first-child.active {
                transform: translateY(3px) scale(1) rotate(-45deg);
            }
            &.active {
                transform: translateY(-3px) scale(1) rotate(45deg);
            }
        }
    }
    .nav-links {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        margin-top: -180px;
        transition: height 1s ease-out;
        &.active {
            height: 100vh;
            margin-top: 0;
        }
        .nav-link {
            opacity: 0;
            transition: opacity .2s;
        }
        &.active .nav-link {
            opacity: 1;
        }
    }
}
.hero-content {
    .social-links svg {
        width: 45px;
        height: 45px;
        fill: $secondaryColor;
        transition: all .8s ease;
        &:hover {
            fill: $bgColor;
            background: $secondaryColor;
            padding: 5px;
            border-radius: 99px;
        }
    }
}
.hero-img {
    width: 62%;
    height: auto;
}
.animate-float-y {
    -webkit-animation-name: float-y;
    animation-name: float-y;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    transition: all 1s ease !important;
}
@keyframes float-y {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}
.projects {
    .project-box {
        position: relative;
        border: 1px solid $secondaryColor;
        border-radius: 4px;
        transition: box-shadow .5s ease;
        cursor: pointer;
        .project-img {
            width: 100%;
            height: 260px;
            object-fit: cover;
            border-radius: 4px 4px 0 0;
            transition: filter .5s ease;
        }
        .view-box {
            background: #1a1818c9;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 0%;
            transition: height .8s ease;
            border-radius: 4px;
            .view-link {
                width: 180px;
                padding: 12px 24px;
                background: transparent;
                color: $bgColor;
                border: 1px solid $bgColor;
                text-align: center;
                display: none;
                transition: display .5s ease;
                transition: all .5s ease;
                border-radius: 99px;
                &:hover {
                    background: $bgColor;
                    color: $secondaryColor;
                }
            }
        }
        &:hover .view-box {
            height: 100%;
        }
        &:hover .view-link {
            display: block;
        }
        &:hover .project-img, &:hover h4, &:hover p {
            filter: blur(4px);
        }
    }
}
.skills {
    overflow: hidden;
    .skills-items {
        height: 100%;
        h4 {
            text-wrap: nowrap;
            color: $bgColor;
        }
        .text-stroke {
            color: transparent;
            -webkit-text-stroke: 2px $bgColor;
        }
    }
    
}