@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Plus+Jakarta+Sans&family=Montserrat:wght@400;500;600;700;800&display=swap');

$primaryColor: #FFA901;
$black: #000;
$white: #fff;
$bgColor : #ece7e1;
$secondaryColor : #1a1818;
$juliusFont: 'Julius Sans', sans-serif;
$mabryFont: 'Mabry Pro', 'Plus Jakarta Sans', sans-serif;
$grandSlangFont : 'GrandSlang-Roman', 'Mabry Pro', sans-serif;
$montserratFont : 'Montserrat', 'Julius Sans', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::selection {
    background: $secondaryColor;
    color: $bgColor;
}
body {
    position: relative;
    background: $bgColor;
}
.container-fluid {
    width: 100%;
    padding: 0 15px;
}
.container {
    max-width: 1440px !important;
    margin-left: auto;
    margin-right: auto;
}
.bg-color {
    background: $bgColor;
}
.secondary-color {
    background: $secondaryColor;
}
.text-bg {
    color: $bgColor;
}
.text-secondary {
    color: $secondaryColor;
}
.mabry-font {
    font-family: $mabryFont;
}
.grandslang-font {
    font-family: $grandSlangFont;
}
.montserrat-font {
    font-family: $montserratFont;
}
.button {
    height: 45px;
    width: 200px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid $secondaryColor;
    overflow: hidden;
    border-radius: 30px;
    color: $secondaryColor;
    transition: all .8s ease-in-out;
    .btn-txt {
        z-index: 1;
        letter-spacing: 4px;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        transition: all 1s ease-in-out;
        background-color: $secondaryColor;
        border-radius: 30px;
        visibility: hidden;
        height: 10px;
        width: 10px;
        z-index: -1;
      }
      &:hover {
        box-shadow: 2px 2px 150px $secondaryColor;
        color: $bgColor;
        border: none;
      }
      &:hover::after {
        visibility: visible;
        transform: scale(100) translateX(2px);
      }
  }
.header {
    position: sticky;
    top: 0;
    transition: top 0.5s;
    .logo {
        z-index: 9;
        color: $bgColor;
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;
        font-family: $mabryFont;
    }
    .hamburger {
        cursor: pointer;
        padding: 12px;
        z-index: 9;
        background: $bgColor;
        border-radius: 99px;
        &:hover .line:first-child {
            margin-bottom: 6px;
        }
        .line {
            width: 20px;
            height: 0.02rem;
            background: $secondaryColor;
            display: block;
            transition: transform .5s ease;
            &:first-child {
                margin-bottom: 6px;
            }
            &:first-child.active {
                transform: translateY(3px) scale(1) rotate(-45deg);
            }
            &.active {
                transform: translateY(-3px) scale(1) rotate(45deg);
            }
        }
    }
    .nav-links {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        margin-top: -180px;
        &.active {
            height: 100vh;
            margin-top: 0;
        }
    }
}
.hero-content {
    .social-links svg {
        width: 45px;
        height: 45px;
        fill: $secondaryColor;
        transition: all .8s ease;
        &:hover {
            fill: $bgColor;
            background: $secondaryColor;
            padding: 5px;
            border-radius: 99px;
        }
    }
}