@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Plus+Jakarta+Sans&family=Montserrat:wght@400;500;600;700;800&display=swap');

$primaryColor: #FFA901;
$bgColor : #ece7e1;
$secondaryColor : #1a1818;
$juliusFont: 'Julius Sans', sans-serif;
$mabryFont: 'Mabry Pro', 'Plus Jakarta Sans', sans-serif;
$grandSlangFont : 'GrandSlang-Roman', 'Mabry Pro', sans-serif;
$montserratFont : 'Montserrat', 'Julius Sans', sans-serif;

html {
    overflow-x: hidden;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::selection {
    background: $secondaryColor;
    color: $bgColor;
}
body {
    position: relative;
    background: $bgColor;
    cursor: none;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
}
.container-fluid {
    width: 100%;
}
.container {
    max-width: 1440px !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.bg-color {
    background: $bgColor;
}
.secondary-color {
    background: $secondaryColor;
}
.text-bg {
    color: $bgColor;
}
.text-secondary {
    color: $secondaryColor;
}
.mabry-font {
    font-family: $mabryFont;
}
.grandslang-font {
    font-family: $grandSlangFont;
}
.montserrat-font {
    font-family: $montserratFont;
}
.button {
    height: 45px;
    width: 200px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid $secondaryColor;
    overflow: hidden;
    border-radius: 30px;
    color: $secondaryColor;
    transition: all .8s ease-in-out;
    .btn-txt {
        z-index: 1;
        letter-spacing: 4px;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        transition: all 1s ease-in-out;
        background-color: $secondaryColor;
        border-radius: 30px;
        visibility: hidden;
        height: 10px;
        width: 10px;
        z-index: -1;
      }
      &:hover {
        box-shadow: 2px 2px 150px $secondaryColor;
        color: $bgColor;
        border: none;
      }
      &:hover::after {
        visibility: visible;
        transform: scale(100) translateX(2px);
      }
  }
.button-bg {
    height: 45px;
    width: 200px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid $bgColor;
    overflow: hidden;
    border-radius: 30px;
    color: $bgColor;
    transition: all .8s ease-in-out;
    .btn-txt {
        z-index: 1;
        letter-spacing: 4px;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        transition: all 1s ease-in-out;
        background-color: $bgColor;
        border-radius: 30px;
        visibility: hidden;
        height: 10px;
        width: 10px;
        z-index: -1;
      }
      &:hover {
        box-shadow: 2px 2px 150px $bgColor;
        color: $secondaryColor;
        // border: none;
      }
      &:hover::after {
        visibility: visible;
        transform: scale(100) translateX(2px);
      }
  }
.header {
    position: fixed;
    top: 0;
    transition: top cubic-bezier(0.19, 1, 0.22, 1)2s;
    z-index: 1;
    .logo {
        z-index: 9;
        color: $bgColor;
        font-family: $grandSlangFont;
    }
    .hamburger {
        cursor: pointer;
        padding: 12px;
        z-index: 9;
        background: $bgColor;
        border-radius: 99px;
        &:hover .line:first-child {
            margin-bottom: 6px;
        }
        .line {
            width: 20px;
            height: 0.02rem;
            background: $secondaryColor;
            display: block;
            transition: transform .5s ease;
            &:first-child {
                margin-bottom: 6px;
            }
            &:first-child.active {
                transform: translateY(3px) scale(1) rotate(-45deg);
            }
            &.active {
                transform: translateY(-3px) scale(1) rotate(45deg);
            }
        }
    }
    .nav-links {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        margin-top: -180px;
        transition: height cubic-bezier(0.19, 1, 0.22, 1)2s;
        &.active {
            height: 100vh;
            margin-top: 0;
        }
        .nav-link {
            opacity: 0;
            transition: opacity .3s;
        }
        &.active .nav-link {
            opacity: 1;
        }
    }
}
.hero-content {
    .social-links svg {
        width: 45px;
        height: 45px;
        fill: $secondaryColor;
        transition: all .8s ease;
        &:hover {
            fill: $bgColor;
            background: $secondaryColor;
            padding: 5px;
            border-radius: 99px;
        }
    }
}
.animate-float-y {
    -webkit-animation-name: float-y;
    animation-name: float-y;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    transition: all 1s ease !important;
}
@keyframes float-y {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}
.projects {
    .projects-head {
        transition: cubic-bezier(0.19, 1, 0.22, 1)3s;
        opacity: 0;
    }
    .project-box {
        position: relative;
        border: 1px solid $secondaryColor;
        border-radius: 4px;
        transition: box-shadow .5s ease;
        transition: cubic-bezier(0.19, 1, 0.22, 1)3s;
        opacity: 0;
        cursor: pointer;
        .project-img {
            width: 100%;
            height: 260px;
            object-fit: cover;
            border-radius: 4px 4px 0 0;
            transition: filter .5s ease;
        }
        .view-box {
            background: #1a1818c9;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 0%;
            transition: height .8s ease;
            border-radius: 4px;
            .view-link {
                width: 180px;
                padding: 12px 24px;
                background: transparent;
                color: $bgColor;
                border: 1px solid $bgColor;
                text-align: center;
                display: none;
                transition: display .5s ease;
                transition: all .5s ease;
                border-radius: 99px;
                &:hover {
                    background: $bgColor;
                    color: $secondaryColor;
                }
            }
        }
        &:hover .view-box {
            height: 100%;
        }
        &:hover .view-link {
            display: block;
        }
        &:hover .project-img, &:hover h4, &:hover p {
            filter: blur(3px);
        }
    }
}
.skills {
    overflow: hidden;
    .skills-items {
        height: 100%;
        transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
        h4 {
            text-wrap: nowrap !important;
            color: $bgColor;
        }
        .text-stroke {
            color: transparent;
            -webkit-text-stroke: 1.2px $bgColor;
        }
    }
    
}
#about {
    .about-heading, .about-heading-one, .about-img, .about-para {
        opacity: 0;
        transition: cubic-bezier(0.19, 1, 0.22, 1)2s;
    }
}
.contact {
    .button {
        transition: color .8s ease !important;
    }
    .form {
        input, textarea, .btn {
            padding: 15px;
            background: transparent;
            border: 1px solid $secondaryColor;
            border-radius: 4px;
            color: $secondaryColor;
            font-size: 15px;
            transition: box-shadow .8s ease-in-out !important;
            &:focus {
                outline: none;
                box-shadow: .25rem .25rem 0rem $secondaryColor;
            }
            &:hover {
                box-shadow: .25rem .25rem 0rem $secondaryColor;
            }
        }
        input::placeholder, textarea::placeholder {
            font-size: 15px;
            font-family: $mabryFont;
        }
        input[type="submit"] {
            padding: 0;
            border: 0;
            cursor: pointer;
            &:hover {
                box-shadow: unset !important;
            }
            &:focus {
                box-shadow: unset !important;
            }
        }
        .btn {
            cursor: pointer;
            transition: all .8s ease;
            &:hover {
                box-shadow: .25rem .25rem 0rem $secondaryColor;
            }
        }
        .btn-loader {
            width: 24px;
            height: 24px;
            aspect-ratio: 1;
            border-radius: 50%;
            border: 4px solid;
            border-color: #000 #0000;
            animation: l1 1s infinite;
        }
        @keyframes l1 {to{transform: rotate(.5turn)}}
        }
        .contact-heading, .contact-para, .contact-email, .contact-links, 
        #name, #email, #subject, #message, .button {
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }
        }
.cursor {
    width: 40px;
    height: 40px;
    border: 2px solid $secondaryColor;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
}
.cursor-dot {
    width: 10px;
    height: 10px;
    background: $secondaryColor;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
}
.initial-loader-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: $secondaryColor;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    .initial-loader {
    width: 50px;
    height: 50px;
    position: relative;
    animation: spin988 3s linear infinite;
    .circle {
        width: 20px;
        height: 20px;
        background-color: $bgColor;
        border-radius: 50%;
        position: absolute;
        &:nth-child(1) {
            top: 0;
            left: 0;
          }
          &:nth-child(2) {
            top: 0;
            right: 0;
          }
          &:nth-child(3) {
            bottom: 0;
            left: 0;
          }
          &:nth-child(4) {
            bottom: 0;
            right: 0;
          }
      }
    }
}  
@keyframes spin988 {
0% {
    transform: scale(1) rotate(0);
}
20%, 25% {
    transform: scale(1.3) rotate(90deg);
}
45%, 50% {
    transform: scale(1) rotate(180deg);
}
70%, 75% {
    transform: scale(1.3) rotate(270deg);
}
95%, 100% {
    transform: scale(1) rotate(360deg);
}
}

@media screen and (max-width:576px) {
    .projects {
        .project-box {
            .project-img {
                height: 290px;
            }
        }
    }
    .cursor, .cursor-dot {
        display: none;
    }
    .skills {
        .skills-items {
            .text-stroke {
                -webkit-text-stroke: 0.8px $bgColor;
            }
        }
    }
}
@media screen and (max-width:425px) {
    .projects {
        .project-box {
            .project-img {
                height: 175px;
            }
        }
    }
}
